@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap');

body {
  font-family: Oswald;
}

ul {
  list-style-type: none;
}

p {
  font-family: "Montserrat";
}

/* Buttons */

.btn--nav {
    font-weight: bold;
    border-radius: 50px;
    width: 220px;
    padding: 13px;
    font-size: 23px;
    color: #0f0f0f;
}

.btn-jmb {
  margin-top: 40px;
}

.btn--gallery {
  border-radius: 50px;
  padding: 11px;
  font-size: 23px;
  font-weight: bold;
  margin-top: 45px;
  width: 300px;
  color: #0f0f0f;
}

.btn--cta {
    font-weight: bold;
    border-radius: 50px;
    width: 300px;
    padding: 13px;
    font-size: 23px;
    margin-top: 10px;
    font-family: Oswald;
    color: #0f0f0f;
}

.btn-offer {
  padding: 5px 30px;
  font-size: 24px;
}

.btn--red {
    background-color: rgb(221, 24, 24);
    border-color: rgb(221, 24, 24);
    color: white;
}

.btn--blue {
    background-color: rgb(70, 132, 190);
    border-color: rgb(70, 132, 190);
}

.a-color {
  color: black;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: rgb(168, 55, 55);
    border-color: rgb(168, 55, 55);
    color: white;
}


.btn--blue:hover {
  background-color: rgb(47, 97, 144);
  border-color: rgb(47, 97, 144);
  color: white;
}

/* Block Dividers*/

.block-divider {
  height: 5px;
  width: 75px;
  border: 0;
  background-color: rgb(221, 107, 0);
  z-index: 1;
}

.block-divider--short {
  width: 60px;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.block-divider-white {
  height: 5px;
  width: 60px;
  border: 0;
  background-color: white;
}

/* Containers */

.container-wrapper--gray {
  background-color: #5c5c5e;
  color: white;
}

.container-wrapper--darkgreen2 {
  background-color: rgb(37, 87, 62);
  color: white;
}

.offer-wrapper {
  background: #f2f5f6;
  border-radius: 5%;
  border: none;
  padding-top: 10px;
  box-shadow: 0.9rem 0.8rem 2rem rgba(74, 78, 105, 0.5);
}

.callout-container {
  height: 100vh;
  background: url("https://i.imgur.com/52YkMkz.jpg") no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.parallaximg-gal-br {
  height: 25vh;
  background: url("https://i.imgur.com/7Zl68Iz.jpg") no-repeat bottom center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.parallaximg-home-br {
  height: 30vh;
  background: url("https://i.imgur.com/0l3i2fZ.jpg") no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gallery-start-bhp-container {
  height: 100vh;
  background: url("https://i.imgur.com/TqyyAva.jpg") no-repeat bottom left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content-container {
  padding-top: 75px;
  padding-bottom: 75px;
}

.content-container-social {
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-text-wrapper {
  background-color: #f7f7f73d;
  border-radius: 1%;
}

.parallax {
  /* The image used */
  background-image: url("https://i.imgur.com/AiH5VB6.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.about {

}

.quotes {

}

.gallery {

}

.media-links {

}

/* Navbar */

.navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0; 
  z-index: 1;
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.white-bg-nav {
  background-color: rgb(255, 255, 255);
  height: 100px;
  padding: 10px 50px;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,.21);
  transition: .5s;
}

.text-black-nav {
  color: black !important;
}

nav div ul {
  text-transform: uppercase;
  font-size: 28px;
  margin-right: 40px;
}

.text-black {
  color: #212529;
}

.brand {
  max-width: 14rem;
  max-height: 14rem;
}

.brand-black {
  max-width: 10rem;
  max-height: 10rem;
}

/* Jumbotron */

.jumbotron {
  background-color: transparent;
}

.jumbotron-header {
  color: white;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 60px;
}

.jumbotron .lead {
  color: rgb(163, 163, 163);
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  margin-top: 40px;
}

/* Offers */

.offer {
  max-height: 55vh;
  max-width: 100%;
  margin: 0;
  border-radius: 5%;
  box-shadow: 0 0.6rem 2.3rem rgba(74, 78, 105, 0.5);
}

.offers-header {
  margin-bottom: 24px;
}


/* Arrow from "https://freefrontend.com/css-arrows/" */

.arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 5px solid rgb(255, 82, 82);
  border-right: 5px solid rgb(255, 82, 82);
}

.arrow-bottom {
  transform: rotate(135deg);
}

/* Quotes */

.quote1-row {
  margin-top: 40px;
}

.quote-wraper {
  background: whitesmoke;
  padding: 50px 40px;
  border-radius: 5%;
  height: 100%;
}

.quote-img {
  box-shadow: 0.9rem 0.8rem 2rem rgba(74, 78, 105, 0.5);
}

.quote-icon {
  font-size: 3rem;
}

.quote-text {
   font-size: 19px;
}

.quote2-row {
  margin-top: 30px;
  font-size: 19px;
}

/* About Us */

.about-header {
  margin-bottom: 15px;
}

.about-text {
  font-size: 19px;
  font-weight: 500;
  color: #212529;
}

/* Contact Form */

.contact-form-wrapper {
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-form-h3 {
  font-size: 30px;
}

.form-h3-hr-container {
  margin-bottom: 40px;
}

.contact-form-btn {
    width: 60%;
    height: 60px;
    margin-top: 50px;
    font-size: 26px;
}

.contact-form-container {
  max-width: 440px;
  padding: 40px 40px;
}

.contact-form-label {
  font-weight: 500;
  font-size: 24px;
}

.contact-form-text {
    max-width: 100%!important;
    width: 100%!important;
    max-height: 150px!important;
    padding: 30px 60px 30px 25px!important;
    resize: none!important;
    height: 150px!important;
}

.contact-form-input {
    border: 0;
    border-radius: 4px;
    background: #fff;
    color: #4a4a4a;
    font-size: 20px;
    margin: 15px 0 0!important;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    
    padding: 0 60px 0 25px;
    height: 60px!important;
    max-width: 100%!important;
}

/* Footer */

.social-link {
  padding: 5px;
  color: #212529;
}

.footer-social-container {
  padding: 80px;
}

.font-size-social {
  font-size: 40px;
}

.map-center {
  margin: 0 auto;
}

.map-container {
  padding: 80px;
}

.map-h5 {
  font-size: 1.5rem;
}

.location-text {
  font-size: 1rem;
}

.mapouter {
    height:250px;
    width:400px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:250px;
    width:400px;
}

/* Sweep To Top */

.hvr-sweep-to-top-fb {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 75px;
}

.hvr-sweep-to-top-tw {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 75px;
}

.hvr-sweep-to-top-yt {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 75px;
}

.hvr-sweep-to-top-ig {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 75px;
}

.hvr-sweep-to-top-fb:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3b5998;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top-fb:hover, .hvr-sweep-to-top-fb:focus, .hvr-sweep-to-top-fb:active {
  color: white;
}
.hvr-sweep-to-top-fb:hover:before, .hvr-sweep-to-top-fb:focus:before, .hvr-sweep-to-top-fb:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.hvr-sweep-to-top-tw:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00acee;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top-tw:hover, .hvr-sweep-to-top-tw:focus, .hvr-sweep-to-top-tw:active {
  color: white;
}
.hvr-sweep-to-top-tw:hover:before, .hvr-sweep-to-top-tw:focus:before, .hvr-sweep-to-top-tw:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.hvr-sweep-to-top-yt:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c4302b;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top-yt:hover, .hvr-sweep-to-top-yt:focus, .hvr-sweep-to-top-yt:active {
  color: white;
}
.hvr-sweep-to-top-yt:hover:before, .hvr-sweep-to-top-yt:focus:before, .hvr-sweep-to-top-yt:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.hvr-sweep-to-top-ig:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3f729b;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top-ig:hover, .hvr-sweep-to-top-ig:focus, .hvr-sweep-to-top-ig:active {
  color: white;
}
.hvr-sweep-to-top-ig:hover:before, .hvr-sweep-to-top-ig:focus:before, .hvr-sweep-to-top-ig:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

                        /* Gallery Page */

/* image-slider-gallery */

.img-slider-gal-w {
  max-width: 50vh;
}


/* Navbar gallery */

.navalert-container-gallery {
  padding-left: 0;
  padding-right: 0; 
}

.heading-gallery-gallery {
  font-size: 60px;
  color: white;
  font-weight: bold;
}

.under-heading-gallery {
  font-size: 19px;
  color: white;
}

.z-index-gal {
  z-index: 1;
}


.portrait-text {
  font-size: 25px;
}