@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap');

body {
  font-family: Oswald;
  font-size:62.5%;
}

ul {
  list-style-type: none;
}

p {
  font-family: "Montserrat";
}

/* Buttons */

.btn--nav {
    font-weight: bold;
    border-radius: 50px;
    width: 220px;
    font-size: 23px;
}

.btn-jmb {
  margin-top: 40px;
}

.btn--cta {
    font-weight: bold;
    border-radius: 50px;
    width: 300px;
    padding: 13px;
    font-size: 23px;
    margin-top: 10px;
    font-family: Oswald;
    color: #0f0f0f;
}

.btn-offer {
  padding: 5px 30px;
  font-size: 24px;
}

.btn--red {
    color: white;
}

.btn--blue {
    background-color: rgb(70, 132, 190);
    border-color: rgb(70, 132, 190);
}

.hero-link {
  font-size: 23px;
  color: white;
  font-family: Oswald;
  width: 200px;
  border-radius: 70px;
}

.a-color {
  color: black;
}

.brand-black {
  max-width: 10rem;
  max-height: 10rem;
  transition: 0.5s;
}

/* Button on Hover */

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: rgb(168, 55, 55);
    border-color: rgb(168, 55, 55);
    color: white;
}


.btn--blue:hover {
  background-color: rgb(47, 97, 144);
  border-color: rgb(47, 97, 144);
  color: white;
}

/* Block Dividers*/

.block-divider {
  height: 5px;
  width: 75px;
  border: 0;
  background-color: rgb(221, 107, 0);
}

.block-divider--short {
  width: 60px;
}

.block-divider-white {
  height: 5px;
  width: 60px;
  border: 0;
  background-color: white;
}

/* Containers */

.container-wrapper--gray {
  background-color: #5c5c5e;
  color: white;
}

.container-wrapper--darkgreen2 {
  background-color: rgb(37, 87, 62);
  color: white;
}

.offer-wrapper {
  background: #f2f5f6;
  border-radius: 20px;
  border: none;
  padding-top: 10px;
  box-shadow: 0.9rem 0.8rem 2rem rgba(74, 78, 105, 0.5);
  height: 100%;
}

.callout-container {
  height: 100vh;
  background: url("https://i.imgur.com/52YkMkz.jpg") no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.parallaximg-gal-br {
  height: 25vh;
  background: url("https://i.imgur.com/EpwYZ4A.jpg") no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.parallaximg-home-br {
  height: 30vh;
  background: url("https://i.imgur.com/0l3i2fZ.jpg") no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gallery-start-bhp-container {
  height: 100vh;
  background: url("https://i.imgur.com/837c0it.jpg") no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-start-bhp-container {
  height: 100vh;
  background: url("https://i.imgur.com/08X5okY.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content-container {
  padding-top: 75px;
  padding-bottom: 75px;
}

.content-container-social {
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-text-wrapper {
  background-color: #f7f7f73d;
  border-radius: 1%;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.parallax {
  /* The image used */
  background-image: url("https://i.imgur.com/AiH5VB6.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */

.navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0; 
  z-index: 1;
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.white-bg-nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 9px 0 rgba(0,0,0,.21);
  height: 90px;
  transition: .5s;
}


nav div ul {
  text-transform: uppercase;
  font-size: 28px;
  margin-right: 40px;
}

.text-black {
  color: #212529;
}

.brand {
  max-width: 14rem;
  max-height: 14rem;
}


/* Jumbotron */

.jumbotron {
  background-color: transparent;
}

.jumbotron .lead {
  color: rgb(163, 163, 163);
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  margin-top: 40px;
}

/* Offers */

.offer {
  max-height: 55vh;
  max-width: 90%;
  margin: 0;
  border-radius: 20px;
  box-shadow: 0 0.6rem 2.3rem rgba(74, 78, 105, 0.5);
}

.offers-header {
  margin-bottom: 24px;
}


/* Arrow from "https://freefrontend.com/css-arrows/" */

.arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 5px solid rgb(255, 82, 82);
  border-right: 5px solid rgb(255, 82, 82);
}

/* Bob From https://ianlunn.github.io/Hover/*/

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.arrow-bottom {
  transform: rotate(135deg);
}

/* Quotes */

.quote1-row {
  margin-top: 40px;
}

.quote-wraper {
  background: whitesmoke;
  padding: 50px 40px;
  border-radius: 20px;
  height: 100%;
}

.quote-img {
  box-shadow: 0.9rem 0.8rem 2rem rgba(74, 78, 105, 0.5);
}

.quote-icon {
  font-size: 3rem;
}

.quote-text {
   font-size: 19px;
}

.quote2-row {
  margin-top: 30px;
  font-size: 19px;
}

/* About Us */

.about-header {
  margin-bottom: 15px;
}

.about-text {
  font-size: 19px;
  font-weight: 500;
  color: #212529;
}

/* Contact Form */

.contact-form-wrapper {
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-form-h3 {
  font-size: 30px;
}

.form-h3-hr-container {
  margin-bottom: 40px;
}

.contact-form-btn {
    width: 60%;
    height: 60px;
    margin-top: 50px;
    font-size: 26px;
}

.contact-form-container {
  max-width: 440px;
  padding: 40px 40px;
}

.contact-form-label {
  font-weight: 500;
  font-size: 24px;
}

.contact-form-text {
    max-width: 100%!important;
    width: 100%!important;
    max-height: 150px!important;
    padding: 30px 60px 30px 25px!important;
    resize: none!important;
    height: 150px!important;
}

.contact-form-input {
    border: 0;
    border-radius: 4px;
    background: #fff;
    color: #4a4a4a;
    font-size: 20px;
    margin: 15px 0 0!important;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    
    padding: 0 60px 0 25px;
    height: 60px!important;
    max-width: 100%!important;
}

/* Footer */

.social-link {
  padding: 5px;
  color: #212529;
}

.font-size-social {
  font-size: 40px;
}

.map-center {
  margin: 0 auto;
}

.map-container {
  padding: 80px;
}

.map-h5 {
  font-size: 1.5rem;
}

.location-text {
  font-size: 1rem;
}

.mapouter {
  height:250px;
  width:400px;
  }

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:250px;
  width:400px;
  }

                        /* Gallery Page */

/* image-slider-gallery */

.img-slider-gal-w {
  max-width: 50vh;
}


/* Navbar gallery */

.navalert-container-gallery {
  padding-left: 0;
  padding-right: 0; 
}

.heading-gallery-gallery {
  font-size: 60px;
  color: white;
  font-weight: bold;
}

.under-heading-gallery {
  font-size: 19px;
  color: white;
}

.portrait-text {
  font-size: 19px;
}

.img-size {
  width: 100%;
  height: auto;
}

.portrait-price-wrapper {
  background: rgb(252, 244, 232);
  border-radius: 30px;
  padding: 40px 60px;
  border: 1px solid;
  box-shadow: 0.9rem 0.9rem 2rem rgba(74, 78, 105, 0.5);
}

            /* About Page */  

.team-wrapper {
  background: #fff;
  border-radius: 30px;
  margin: 5px;
}

.shadow-sharp {
  box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15),   /* From https://www.cssscript.com/elegant-box-shadows/ */
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}

.team-about-row {width: 60vh; }

/* Media Query */

@media (max-width: 340px) {

.jumbotron-header {
  transition: 0.5s;
  }

.white-bg-nav {
  background-color: rgb(255, 255, 255);
  height: 100px;
  padding: 10px 15px;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,.21);
  transition: .5s;
  }

.email-text {
  font-size: 1rem;
}

.font-size-prices {
  font-size: 14px !important;
  font-weight: bold;
}
}

@media (max-width:355px) {

  .footer-social-container {
  padding: 30px;
  }

  .contact-form-btn {
    width: 60%;
    height: 60px;
    margin-top: 50px;
    font-size: 1.25rem;
    transition: 0.5s;
  }

  .brand {
  max-width: 10rem;
  max-height: 10rem;
  transition: 0.5s;
  }
}

@media (min-width: 356px) {

  .footer-social-container {
    padding: 40px;
  }
}

@media (min-width: 370px) {

  .footer-social-container {
    padding: 60px;
  }

}

@media (min-width: 400px){
  
.jumbotron-header {
  color: white;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  transition: 0.5s;
  }
}

@media (max-width: 583px){

.jumbotron-header {
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2.5rem;
  transition: 0.5s;
  }

}

@media (min-width: 745px){

.jumbotron-header {
  color: white;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 4rem;
  transition: 0.5s;
  }

}

@media (max-width: 745px){

.jumbotron-header {
  color: white;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 3rem;
  transition: 0.5s;
  }

}

@media (max-width: 992px) {
  
  .mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform: translateX(100%);
    transition: all ease 0.25s;
    }

  .mobile-menu.open {
    transform: translateX(0%);
  }

  .bg-white-1 {
  background-color: rgb(255, 255, 255);
  }

  .text-black-mobile {
    color: #212529 !important;
  }

  .navbar-toggler-icon2 {
  background-image: url(https://i.imgur.com/bFuv0uI.png) !important;
  transition: .5s;
  }

  .navbar-button {
    z-index: 1000;
  }
  
  .navbar-ul-list-mobile {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    line-height: 3;
    font-size: 2.25rem;
  }

  .overflow-toggler {
    overflow: hidden;
  }
}

@media (min-width:768px) {


  .text-black-nav {
    color: #212529 !important;
  }
}

@media (min-width: 900px) {
  .align-flex-text {
    align-items: flex-end;
  }

  .brand-black {
    height: auto;
    width: 200px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1150px) {
  .hero-link {
    width: 20%;
    transition: 0.5s;
  }
}

.about-wrapper-gray {
  background: #5c5c5e;
}

/* Typography */

body.line-height-typo {
  line-height: calc(2.9em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

p {
  font-size: calc(16px + (19 - 16) * ((100vw - 300px) / (1600 - 300))) !important;
}

h1 {
  font-size: calc(40px + (64 - 40) * ((100vw - 300px) / (1600 - 300))) !important;
}

h2 {
  font-size: calc(32px + (50 - 32) * ((100vw - 300px) / (1600 - 300))) !important;  /* https://css-tricks.com/books/fundamental-css-tactics/scale-typography-screen-size/ */
}

h3 {
  font-size: calc(26px + (40 - 25) * ((100vw - 300px) / (1600 - 300))) !important;  
}

h4 {
  font-size: calc(23px + (30 - 23) * ((100vw - 300px) / (1600 - 300))) !important;
}

.email-text {
  font-size: calc(16px + (19 - 16) * ((100vw - 300px) / (1600 - 300)));
  color: black;
}